body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.site-container {
  min-height: 100vh;
}
main {
  background-color: #404040;
  flex: 1;
  color : white;
  font-family: Luminari, fantasy;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  border: 1px #404040 solid;
  margin: 1rem;
}
.movie img {
  width: 100%;
}
.movie-info{
  padding: 1rem;
}
.rating {
  color: rgb(236, 181, 30);
}
.btn-primary {
  background-color: rgb(236, 181, 30);
  color: black;
}
.small-container {
  max-width: 600px;
}
.img-large {
  max-width: 100;
}